.fxcntcnt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fxcntspacebet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fxcntspacearo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fxcolcnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.height100{
    height: 100%;
 
}
.maincontainer{
    color: rgb(255, 255, 255);
    min-height: 500px;
    width: 100%;
    background-color: black;
}
.pd20{
    padding: 20px;
}
.bdw{
    border: 1px solid white;
}
.camaracontainer{
    width: 100%;
    height:calc(100% - 95px);
    position: absolute;
    top: 115px;
    left: 0;
    
}
.camaracontainer span:nth-child(1){
    position: absolute;
    width: 70px;
    height: 70px;
    top:0px;
    left: 0;
    border-top: 3px solid white;
    border-left: 3px solid white;
}
.camaracontainer span:nth-child(2){
    position: absolute;
    width: 70px;
    height: 70px;
    top:0px;
    right: 0;
    border-top: 3px solid white;
    border-right: 3px solid white;
}
.camaracontainer span:nth-child(3){
    position: absolute;
    width: 70px;
    height: 70px;
    bottom:35px;
    left: 0;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}
.camaracontainer span:nth-child(4){
    position: absolute;
    width: 70px;
    height: 70px;
    bottom:35px;
    right: 0px;
    border-bottom: 3px solid rgba(255, 255, 255);
    border-right: 3px solid rgba(255, 255, 255);
}
.camaracontainer span:nth-child(5){
    position: absolute;
    width: 200px;
    height: calc(100% - 100px);
    top:0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-right: 1px solid rgba(255, 255, 255, 0.496);
    border-left: 1px solid rgba(255, 255, 255, 0.489);
}
.camaracontainer span:nth-child(6){
    position: absolute;
    width: 100%;
    height: 200px;
    top:0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.527);
    border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}
.camaracontainer span:nth-child(7){
    position: absolute;
    width: 80px;
    height: 80px;
    top:0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px dashed white;
    border-radius: 50%;
    animation: camararotation 7s infinite ease-in-out alternate;
}
.camaracontainer span:nth-child(8){
    position: absolute;
    width: 30px;
    height: 30px;
    top:0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted rgb(155, 127, 35);
    border-radius: 30%;
    animation: camararotation 7s infinite ease-in-out alternate-reverse;

}
.camaracontainer span:nth-child(9){
    position: absolute;
    width: 100px;
    height: 30px;
    top:20px;
    right: 0px;
    color: red;   
    margin: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.portada{
    width: 130px;
    height: 200px;
    border: 1px solid white;
    margin: 10px;
    transition: all 1s;
    border-radius: 5px;
}
.portada:hover{
   transform: scale(1.1);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    min-width: 400px;
    flex-wrap: wrap;
    position: relative;
}
.containervideo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    flex-wrap: wrap;
    position: relative;
}
.carolinaframe{
    width: 100%;
    height: 100%;
    background-image: url('./lacarolina/bosque.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;

   
}
.omarframe{
    width: 100%;
    height: 100%;
    background-image: url('./Oumar/oumar1.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;

}
.delirioframe{
    width: 100%;
    height: 100%;
    background-image: url('./deliriodediseño/delirio1.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;

}
.veneciaframe{
    width: 100%;
    height: 100%;
    background-image: url('./Venecia/Venecia1.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 5px;

}
.galleryname{
    width: 100%;
    border: 1px solid transparent;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.463);
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Teko;
    transition: all 1s;
    border-radius: 5px;

}
.btngallery{
    width: 100%;
    height: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
}
.galleryname:hover{
   background-color: transparent;
}
.btngreen{
    width: 90px;
    height: 30px;
    background-color: rgb(32, 145, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
}
.videos{
    width: 100%;
    height:100%;
    flex-wrap: wrap;
   
}
.video{
    margin: 5px;
    transition: all 1s;
    height: 130px;
  
}
.videosel{
    margin: 10px;
    transition: all 1s;
    height: 130px;
    border: 3px solid white;
}
.video:hover{
    transform: scale(1.2);
}

@keyframes flashes {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes homeblur{
    0%{ filter: blur(0px);}
    25%{filter: blur(1px);}
    50%{ filter: blur(2px);  }
    75%{filter: blur(3px);}
    100%{filter: blur(0px);}
    
   
}
@keyframes camararotation{
    from{
        transform:rotate(0deg)
    }to{
        transform: rotate(180deg);
    }
}